:root{
    --background-color:hsl(212, 45%, 89%);
    --p-color:hsl(216, 15%, 48%);
    --b-color:hsl(218, 44%, 22%);
    --box-shadow-color:rgba(0, 0, 0, 0.26);
}

body{
    background-color: var(--background-color);
    font-family: "Outfit" ,sans-serif;
}

.div-qrcode{
    margin : 25vh auto ;
    padding:1rem;
    width:280px;
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;

    box-shadow:0px 30px 30px -30px var(--box-shadow-color)  ;
}

img{
    width:100%;
    border-radius:1rem;
}

h1{
    font-weight: 700;
    color:var(--b-color);
    margin-top: 1rem;
    font-size: 1.4rem;
}
p{
    font-weight: 400;
    color: var(--p-color);
    line-height: 1.3rem;
    
}

.attribution { font-size: 11px; text-align: center;height:50px; }
.attribution a { color: hsl(228, 45%, 44%); }