

body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.div-qrcode{
    margin : 10vh auto ;
    padding:18px;
    width:280px;
    border-radius:18px;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    font-family: "Outfit";
}

img{
    width:100%;
    border-radius:10px;
}

b{
    font-weight: 700;
    color:  hsl(218, 44%, 22%);
    margin-top: 20px;
    font-size: 1.4rem;
}
p{
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    line-height: 1.3rem;
    
}

.attribution { font-size: 11px; text-align: center;height:50px; }
.attribution a { color: hsl(228, 45%, 44%); }